BOT_TOKEN=8656830502:AAFLVhQZaqyTX87VquosBcuoui4IEgtas4s
PAYMENT_TOKEN=your_yookassa_payment_token_here
KIE_API_KEY=9b073ee3cad1fbeff647c56913c52911

START_BALANCE=5

COST_NANOBANANA=1
COST_NANOBANANA_2=3
COST_NANOBANANA_PRO=4
